<?xml version="1.0" encoding="UTF-8"?>

<!-- Hibernate file-based configuration document.-->

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
		<session-factory>
			<!--Database Property-->
			<property name="hibernate.connection.driver">com.mysql.cj.jdbc.Driver</property>
			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hf03</property>
			<property name="hibernate.connection.user">root</property>
			<property name="hibernate.connection.password">Root@123</property>
			
			<!--Hibernate Property-->
			<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
			<property name="hibernate.show_sql">true</property>
			<property name="hibernate.format_sql">false</property>
			<property name="hibernate.hbm2ddl.auto">update</property>
			
			<!--Mapping File-->
			<mapping resource="Student.hbm.xml"/>
		</session-factory>
	</hibernate-configuration>
