<?xml version="1.0" encoding="UTF-8"?>

<!-- Hibernate file-based configuration document.-->

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
		<session-factory>
		
		<!-- Databases Property-->
		<property name="hibernate.connection.Driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hf03</property>
		<property name="hibernate.connection.user">root</property>
		<property name="hibernate.connection.password">Root@123</property>
		
		<!--Hibernate Property-->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_Sql">false</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
<!--
		<property name="hibernate.connection.pool_size">50</property>
-->

		<!--Connection pool Size-->
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">4</property>
		<property name="hibernate.c3p0.max_size">70</property>
		
		<!--Mapping file-->
		<mapping class="com.tca.entities.Student"/>
		</session-factory>
	</hibernate-configuration>